:root {
  --white: #fff;
  --black: #000;
  --font-color-blue: #2476ff;
  --font-color-dark: #20325B;
  --font-color-light: #ECF2FF;
  --font-color-button: #677788;
  --font-color-top: #E1E7EF;
  --footer: #34314b;
  --footer-base: #2e2b45;
  --contrast: rgba(246, 248, 249, 0.8);
  --success: #64ecf5;
  --danger: #ff8b8d;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}