.background-hero-top {
  position: absolute;
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: conic-gradient(from 200deg at 85% 0%, rgba(217, 217, 217, .5), rgba(217, 217, 217, 1));
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  z-index: -100;
}

.navbar-container {
  display: flex;
  height: 3.75rem;
  justify-content: space-between;
  margin-top: var(--size-16);
  margin-left: var(--size-16);
}

.navbar.sticky {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
}

.navbar-toggler span {
  font-size: 20px;
  cursor: pointer;
  color: #666;
  pointer-events: none;
}

[aria-controls="navBarDropdown"] {
  display: none;
}

.navbar > img {
  margin-left: var(--size-40);
  width: var(--size-150);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #677788;
}

.navbar ul li:nth-child(6) {
  background-color: var(--font-color-blue);
  padding: var(--size-20);
  border-radius: var(--size-40);
}

.navbar ul li:nth-child(6) a {
  color: #fff;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.top-section {
  display: flex;
}

.left {
  margin-top: 4rem;
  margin-left: var(--size-40);
  display: flex;
  flex-direction: column;
  font-size: var(--size-20);
  width: 28.125rem;
}

.left h1 {
  font-size: var(--size-40);
  font-weight: 500;
}

.left > p {
  margin-top: 0;
  font-size: var(--size-14);
}

.buttons-top {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: var(--size-20);
  align-items: center;
}

.buttons-top a {
  text-decoration: none;
}

.buttons-top span a {
  background-color: var(--font-color-blue);
  color: white;
  padding: .75rem 1.5rem;
  border-radius: var(--size-50);
  font-size: var(--size-12);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.buttons-top span a i {
  margin-right: var(--size-10);
  font-size: var(--size-18);
}

.learn {
  margin-left: var(--size-30);
  font-size: var(--size-14);
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.lg-icons, .sm-icons {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lg-icons {
  height: 5rem;
  width: 5rem;
}

.sm-icons {
  height: 3.75rem;
  width: 3.75rem;
}

.right > .lg-icons, .right > .sm-icons {
    border-radius: 50%;
    box-shadow: 0px 3px 13px rgba(0,0,0,.3);
}

.lg-asana {
  position: absolute;
  top: 20%;
  right: 15%;
}

.lg-paypal {
  position: absolute;
  top: 70%;
  right: 60%;
}

.sm-google {
  position: absolute;
  top: 20%;
  right: 60%;
}

.lg-atlassian {
  position: absolute;
  top: 20%;
  right: 37%;
  
}

.sm-google-A {
  position: absolute;
  top: 85%;
  right: 35%;
}

.lg-calendar {
  position: absolute;
  top: 120%;
  right: 10%;
}

.lg-weave {
  position: absolute;
  top: 50%;
  right: 22%;
}

.asana {
  background-image: url('/saas-project-assets/logo_icons/asana.png');
  background-size: cover;
  height: 3rem;
  width: 3rem;
}

.atlassian {
  background-image: url('/saas-project-assets//logo_icons/atlassian.png');
  background-size: cover;
  height: 3rem;
  width: 3rem;
}

.paypal {
  background-image: url('/saas-project-assets/logo_icons/paypal.jpg');
  background-size: cover;
  height: 3rem;
  width: 3rem;
}

.google {
  background-image: url('/saas-project-assets/logo_icons/google.png');
  background-size: cover;
  height: var(--size-40);
  width: var(--size-40);
}

.google-A {
  background-image: url('/saas-project-assets/logo_icons/google-A.png');
  background-size: cover;
  height: var(--size-40);
  width: var(--size-40);
}

.calendar {
  background-image: url('/saas-project-assets/logo_icons/calendar.png');
  background-size: cover;
  height: 3rem;
  width: 3rem;
}

.weave {
  background-image: url('/saas-project-assets/logo_icons/weave.png');
  background-size: cover;
  height: 3rem;
  width: 3rem;
}

.benefits {
  margin-top: 10rem;
}

.benefits > h1, .benefits > p {
  text-align: center;
}

.benefits > h1 {
  font-size: 1.625rem;
}

.benefits > p {
  font-size: var(--size-16);
}

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: var(--size-20);
  margin-top: 6rem;
}

.cards {
  border: 1px solid #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .15);
  padding: var(--size-20);
}

.cards > h2, .sketch > h2 {
  font-size: var(--size-16);
}

.cards > p, .sketch > p {
  font-size: var(--size-14);
}

.bene-img {
  width: 3rem;
}

.sketch {
  display: flex;
  align-items: center;
  height: var(--size-30);
}

.btn-sketch {
  background-color: #01C9A7;
  color: #fff;
  border-radius: var(--size-18);
  padding: 0.25rem 1rem;
  margin-left: 1rem;
}

.learn-more {
  text-decoration: none;
  color: var(--font-color-blue)
}

.feature {
  background-color: #F8FAFE;
  margin-top: 10rem;
  display: flex;
}

.perspective {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: var(--size-30);
}

.play-btn {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--font-color-blue);
  color: #fff;
  width: 8.5rem;
  height: var(--size-50);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: var(--size-30);
}

.play-btn i {
  margin-right: 1rem;
  font-size: var(--size-18);
}

.play-btn p {
  font-size: var(--size-12);
}

.banner {
  display: flex;
  flex-direction: column;
}

.banner-one {
  padding-top: 15%;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.why-front {
  margin-top: 10rem;
}

.why-front-top {
  text-align: center;
  line-height: 31px;
}

.why-front-top h1 {
  font-size: 1.625rem;
}

.why-front-top p {
  font-size: var(--size-16);
}

.circle-text {
  display: flex;
  flex-direction: column;
}

.circles {
  display: flex;
  width: 75%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.hr-horizontal {
  background: #E6E9F2;
  height: 1px;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: transparent;
}

.circle-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.circle-container p {
  margin-top: var(--size-20);
}

.big-circle {
  width: var(--size-50);
  height: var(--size-50);
  background-color: #ECF2FF;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.small-circle {
  width: var(--size-6);
  height: var(--size-6);
  background-color: #0066FF;
  border-radius: 50%;
}

.circle-text-row {
  display: flex;
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.circle-text-row .components {
  padding-left: 1.75rem;
}

.banner-two {
  background-image: url('../saas-project-assets/banners/banner_two.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 27rem;
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.big-play-btn {
  width: 4.375rem;
  height: 4.375rem;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-play-btn i {
  font-size: var(--size-20);
}

.testimonial {
  display: flex;
  margin-top: 10rem;
}

.test-left {
  display: flex;
  background-image: url('/saas-project-assets/abstract/dots.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 3rem;
}

.woman-3 {
  margin-left: 4rem;
  position: relative;
  bottom: 5rem;
  width: 100%;
}

.test-right {
  display: flex;
  flex-direction: column;
  margin-left: var(--size-100);
  justify-content: center;
}

.hubspot {
  width: var(--size-100);
}

.test-right h1 {
  font-size: var(--size-24);
  font-weight: 500;
  margin-bottom: 5rem;
  margin-top: var(--size-40);
}

.test-right h2 {
  font-size: var(--size-18);
  font-weight: 700;
  margin: 0;
}

.test-right p {
  color: #677788;
  font-size: var(--size-14);
  margin: 0;
}

.companies {
  margin-top: 5rem;
}

.companies h1 {
  text-align: center;
  font-size: var(--size-20);
  color: #5F6368;
}

.company-logos {
  display: flex;
  justify-content: space-between;
  height: var(--size-40);
  margin: 3rem 0;
}

.pricing > h1, .pricing > p {
  text-align: center;
}

.pricing h1 {
  font-size: var(--size-30);
  margin-bottom: 0;
}

.pricing > p {
  color: #677788;
}

.pricing-cards {
  display: grid;
  grid-template-columns: minmax(300px, 1fr), repeat(2, 1fr);
  grid-template-rows: auto; 
  grid-gap: var(--size-30);
}

.left-pricing {
  grid-row: 1 / 3;
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: var(--size-40);
  border: transparent;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  width: 100%;;
}

.pricing-cards-top .price-59 {
  font-size: var(--size-50);
}

.pricing-cards-top > p {
  font-size: var(--size-20)
}

.left-pricing hr {
  border: none;
  background: #8D8D8D;
  height: 1px;
  width: 100%;
  margin: 1rem 0;
}

.left-pricing > p {
  color: #677788;
  margin-bottom: var(--size-50);
}

.icons {
  width: var(--size-50);
}

.comp {
  grid-column: 2 / 3 ;
}

.images {
  grid-column: 3 / 4 ;
}

.cancel {
  grid-column: 2 / 3;
}

.money {
  grid-column: 3 / 4;
}

.anytime {
  display: flex;
}

.anytime .btn-sketch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.credit {
  font-size: var(--size-12);
  color: #677788;
}

.first-footer {
  background-color: #20335B;
  display: flex;
  margin-top: var(--size-150);
  margin-left: 0;
  margin-right: 0;
}

.first-footer-left {
  display: flex;
  flex-direction: column;
  padding-left: var(--size-100);
  justify-content: center;
  margin-top: var(--size-30);
  margin-bottom: var(--size-30);
}

.first-footer-left hr {
  border: none;
  background: #fff;
  height: 1px;
  width: 25%;
  margin-left: 0;
  margin-top: var(--size-20);
  margin-bottom: var(--size-20);
}

.first-footer-left h1, .first-footer-left em, .first-footer-left h2 {
  color: #fff;
}

.first-footer-left em {
  margin-right: var(--size-100);
}

.first-footer-left .grey {
  color: #677788;
}

.first-footer-images {
  display: flex;
  align-items: center;
  width: 100%;
}

.first-footer-images img {
  margin-right: var(--size-30);
  margin-top: var(--size-100);
}

.sm-image {
  width: var(--size-40);
  height: var(--size-40);
  border-radius: 50%;
}

.last-image {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}

.first-footer-right {
  padding: var(--size-30);
}

.first-footer-right form {
  background-color: #fff;
  border-radius: var(--size-10);
  padding: var(--size-30);
  display: grid;
  grid-gap: var(--size-20);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(44px,1fr));
}

form h3 {
  font-size: var(--size-16);
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.first-footer-right input, .first-footer-right select {
  height: 2.75rem;
  font-size: var(--size-14);
  font-family: 'SF Pro', sans-serif;
  color: #828282;
  border: 1px solid #E6E8F2;
  border-radius: 5px;
}

.r1-c1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.r1-c2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.r2-c1 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.r2-c2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.r3-c1 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.r3-c2 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

textarea {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  font-size: var(--size-14);
  font-family: 'SF Pro', sans-serif;
  color: #828282;
  border: 1px solid #E6E8F2;
  border-radius: 5px;
}

.check {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  display: flex;
}

#cb1 {
  width: var(--size-24);
  height: var(--size-24);
  border: 2px solid #E6E8F2;
  margin-right: var(--size-20);
}

.check label {
  color: #828282;
}

.policy {
  display: flex;
  justify-content: space-around;
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}

.policy a {
  text-decoration: none;
  margin-bottom: 0;
}

.bottom-btn {
  grid-column: 1 / 3;
  grid-row: 8 / 9;
  display: flex;
  justify-content: center;
}

.bottom-btn button {
  background-color: var(--font-color-blue);
  color: #fff;
  border: transparent;
  padding: 0.5rem 1.25rem;
  border-radius: var(--size-30);
}

.info {
  display: flex;
  margin-top: var(--size-50);
  justify-content: space-around;
}

.info-front {
  margin-left: var(--size-30);
}

.img-footer {
  width: var(--size-100);
}

.info-front-location, .info-front-phone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info-front-location i, .info-front-phone i {
  margin-right: var(--size-10);
  font-size: var(--size-12);
}

.info-front-location p {
  color: #677788;
  font-size: var(--size-14);
}

.info-front-phone p {
  color: var(--font-color-blue);
  font-size: var(--size-14);
}

.info-company, .info-features, .info-documentation, .info-resources {
  display: flex;
  flex-direction: column;
}

.info-company h1, .info-features h1, .info-documentation h1, .info-resources h1 {
  margin-top: 0;
  font-size: var(--size-18);
}

.info-company ul, .info-features ul, .info-documentation ul, .info-resources ul {
  padding: 0;
}

.info-company li, .info-features li, .info-documentation li, .info-resources li {
  list-style: none;
  color: #677788;
  font-size: var(--size-14);
  padding-top: var(--size-10);
  padding-bottom: var(--size-10);
}

.info-company ul ul {
  display: flex;
  color: #677788;
  font-size: var(--size-14);
  padding: var(--size-10) 0;
}

.info-company ul ul li {
  background-color: var(--font-color-blue);
  color: #fff;
  border-radius: 5px;
  font-size: 0.5rem;
  margin: auto 1rem;
  padding: 0.25rem;
}

.info-features ul li:nth-child(2) {
  color: var(--font-color-blue);
}

.info-resources ul ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 0;
  font-size: var(--size-14);
  color: #677788;
}

.info-resources ul ul li i {
  margin-right: var(--size-10);
}

.footer-hr {
  margin: 2rem 1.875rem;
  border: none;
  background: #E6E9F2;
  height: 1px;
}

.privacy-policy {
  display: flex;
  justify-content: space-between;
  margin: 0 1.875rem;
}

.privacy-policy > p {
  color: #677788;
}

.privacy-policy p span {
  color: var(--font-color-blue);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.social i {
  background-color: #ECF2FF;
  color: #677788;
  width: var(--size-30);
  height: var(--size-30);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.social i, .social select {
  margin: 0 1rem;
}

.social i:nth-child(2) {
  background-color: #677788;
  color: #ECF2FF;
}

.footer-bottom > p {
  text-align: center;
  color: #677788;
  width: 75%;
  margin: 2rem auto;
}